@use "../config/" as *;

#link-achievements {
    padding: 2rem;
}

.achievements {

    @include media-breakpoint-down(lg) {
        .container {
            min-width: 97vw;
        }
    }
    @extend %gradient;

    &__grid {
        padding: 0 0 3rem 0;
        margin: 0 auto;
        width: 97%;
        display: grid;
        grid-template-columns: repeat(3, minmax(auto, 1fr));
        grid-gap: 2rem;
    }

    &__item {
        position: relative;
        border-top: 5px solid $primary;
        overflow: hidden;
        @extend %transition;

        &:hover {
            cursor: crosshair;
            box-shadow: 0 0 22px rgba($white, 88);
        }

        img {
            width: 100%;
        }

        &-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            height: 100%;
            width: 100%;
            text-align: center;
            transform: translateY(-100%);
            padding: 1.11rem;
            @extend %flex-rowcen;
            @extend %transition;
            background-color: rgba($primary, 0.88);
        }

        &:hover .achievements__item-overlay {
            transform: translateY(0);
        }
    }


}