@use "../config/" as *;

.breakme {
    display: none;
    position: fixed;
    background-color: rgba($black, 0.88);
    height: 100vh;
    width: 100%;
    z-index: 99999;
    transform: translateY(-100%);
    @extend %flex-rowcen;
    @extend %transition;
    @include media-breakpoint-down(md) {
        display: flex;
    }

    &__message {
        text-align: center;
    }

    &__ok {
        .btn {
            width: 11rem;
        }
    }

    &.show {
        transform: translateY(0);
    }

    &__toggle-box {
        display: none;
    }
}