@use "../config/" as *;

.modal-dialog {

    .modal-content {
        color: $black;
    }

    form {

        input {
            margin-bottom: 11px;
        }

        textarea {
            height: 70px;
            resize: none;
            margin-bottom: 11px;
        }

        // Toggle Styles
        .error-border {
            border-color: red;
        }

        .error-message {
            color: red;
        }

        .success-border {
            border-color: green;
        }
        
        .success-message {
            color: green;
        }

        .disappear {
            display: none;
        }
    }
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
