@use "../config/" as *;

.footer {
    font-size: 1.43rem;
    background-color: $black;
    color: $white;
    padding: 1rem;
    text-align: center;

    i {
        margin-left: 0.77rem;
    }
}

// Style the back to top button
.back-to-top {
    position: fixed;
    width: 3rem;
    height: 3rem;
    right: 1.875rem;
    bottom: 1.875rem;
    z-index: 9999;

    @include media-breakpoint-down(lg) {
        bottom: 0.88rem;
    }

    @include media-breakpoint-down(sm) {
        right: 0.33rem;
    }

    i {
        color: $white;
        font-size: 1rem;
        @extend %abs-center;
    }
}