@use "../config/" as *;
#goals-toggle {
    display: none;
}

#link-goals {
    padding: 2rem;
}

.toggle-box {
    margin: 0 0.77rem;

    #show-goals-btn {
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .volume-animation {
            position: absolute;
            top: 0;
            left: 0;
            animation: pulse-volume 1.5s ease-in-out infinite;

            i {
                color: $light-tone;
            }
        }
    
        .main-volume {
            position: relative;
    
            i {
                color: $white;
            }
        }
    }    
}

.goals-container {
    position: fixed;
    // transform: translateX(100%);
    display: none;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    z-index: 99999;
    background-color: rgba($primary, 0.88);
    @extend %flex-rowcen;
    @extend %transition;

    &.show {
        transform: translateX(0);
    }
}

#hide-goals-btn {
    position: absolute;
    top: 0;
    right: 5%;
    color: white;
    cursor: pointer;

    i {
        font-size: 2rem;
        transition: scale 0.33s ease-in-out, color 0.33s ease-in-out;

        &:hover {
            scale: 1.1;
            color: red;
        }
    }
}

.goals {
    padding-bottom: 7rem;

    .toggle-box {
        padding-top: 1rem;
        text-align: center;
    }

    &__icon {
        height: 100%;
        @extend %flex-rowcen;
        
        i {
            font-size: 9rem;
            border-radius: 0.88rem;
            @extend %gradient;
            @extend %transition;
            box-shadow: 0 0 22px rgba($white, 0.88);

            &:hover {
                scale: (1.11);
                box-shadow: 0 0 22px rgba($primary, 0.98);
                cursor: pointer;
            }
        }
    }

    &__overlay {
        position: relative;
    }
}