@use "../config/" as *;
#goals-toggle {
    display: none;
}

#link-goals {
    padding: 2rem;
}

.toggle-box {
    margin: 0 0.77rem;

    #show-goals-btn {
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .volume-animation {
            position: absolute;
            top: 0;
            left: 0;
            animation: pulse-volume 1.5s ease-in-out infinite;

            i {
                color: $light-tone;
            }
        }
    
        .main-volume {
            position: relative;
    
            i {
                color: $white;
            }
        }
    }    
}

.goals-container {
    position: fixed;
    transform: translateX(100%);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: var(--goal-overlay-color);
    @extend %flex-rowcen;
    @extend %transition;

    &__header {
        text-align: center;
        padding: 3rem;

        @include media-breakpoint-down(md) {
            padding: 2rem;
        }
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &.show {
        transform: translateX(0);
    }

    .goals__grid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        gap: 2%;
        margin: 0 auto;
    }

    .goal-card {
        
        &__bg {
            width: 29vw;
            height: 50vh;
            border-radius: 11px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            transition: all 0.2s ease-in-out;
            filter: brightness(0.5) blur(11px);

            &-1 {
                background-image: url("../../assets/img/goal-health.png");
                
            }
    
            &-2 {
                background-image: url("../../assets/img/goal-wealth.png");
            }
    
            &-3 {
                background-image: url("../../assets/img/goal-love.png");
            }

            &:hover {
                transform: scale(1.1);
                cursor: crosshair;
                filter: brightness(100%) blur(0);
            }
        }

        &__content {
            position: absolute;
            top: 0;
            padding: 1.11rem;
            height: 100%;
            text-align: center;
            font-size: 1.11rem;
            @extend %flex-rowcen;

            p {
                padding: 0.875rem;
                border-radius: 7px;
                background-color: var(--goal-p-overlay-color);
                opacity: 0;
            }

            &:hover p {
                opacity: 1;
            }
        }
    }


}

#hide-goals-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
    cursor: pointer;

    i {
        font-size: 2rem;
        transition: scale 0.33s ease-in-out, color 0.33s ease-in-out;

        &:hover {
            scale: 1.1;
            color: red;
        }
    }
}

.goals {
    padding-bottom: 7rem;

    .toggle-box {
        padding-top: 1rem;
        text-align: center;
    }

    &__icon {
        height: 100%;
        @extend %flex-rowcen;
        
        i {
            font-size: 9rem;
            border-radius: 0.88rem;
            @extend %transition;
            box-shadow: 0 0 22px rgba($white, 0.88);

            &:hover {
                scale: (1.11);
                box-shadow: 0 0 22px var(--icon-boxshadow-hover-color);
                cursor: pointer;
            }
        }
    }

    &__overlay {
        position: relative;
    }
}

@include media-breakpoint-down(lg) {
    .goals {
        padding-bottom: 3rem;

        .toggle-box {
            display: flex;
            flex-direction: column;
            flex: stretch;
        }
    }
}