@use "../config/" as *;

#link-hobbies {
    padding: 3rem;
}

#link-experiences {
    padding: 4rem;
}

.hobb-n-exp {
    @include media-breakpoint-down(lg) {
        min-width: 97vw;
    }

    &__content-container {
        @extend %flex-rowcen;
    }

    &__content {
        height: 88%;
        width: 88%;
        text-align: justify;
        font-size: 1.11rem;
        padding: 0.875rem;
        background-color: rgba($black, 0.22);
        border-radius: 5px;
        @extend %flex-rowcen;
        @extend %transition;

        @include media-breakpoint-down(xlg) {
            font-size: 1rem;
        }

        @include media-breakpoint-down(lg) {
            min-width: 100%;
            font-size: 0.87rem;
        }

        &:hover {
            box-shadow: 0 0 22px rgba($white, 0.88);
            cursor: crosshair;
        }
    }

    .hobbies {
        padding-top: 1rem;
    }

    .experiences {
        padding-top: 3rem;
    }

    @include media-breakpoint-down(lg) {
        .hobbies, .experiences {
            width: 99%;
            margin: 0 auto;
        }

        .hobbies {
            .container {
                min-width: 98%;
            }
        }

        .experiences {
            .container {
                min-width: 98%;
            }
        }
    }
    
    .slide {
        border: 7px $primary ridge;
    }
}