@use "../config/" as *;

.list-sorter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    margin-top: 77px;
    
    &__content {
        margin: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__form-container {
        width: 100%;
    }

    &__form {
        text-align: center;
        
        input[type=text],
        input[type=number] {
            margin: 0 1rem 0 0 ;
            border-radius: 7px;
            padding: 3px;
            border: 1px solid lightgrey;
        }

        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &__table-container {
        width: 86%;
        margin: 2rem;

        .list-sorter__table {
            table-layout: fixed;
            border-collapse: collapse;
            width: 100%;

            thead {
                background-color: gray
            }

            th, td {
                width: 33.33%;
                padding: 10px;
                border: 1px solid #000;
            }

            th {
                text-align: center;
            }
            

            tr:nth-child(even) {
                background-color: darkgray;
            }

            i {
                margin: 7px;
            }
        }
    }
}

.sort-arrow:hover {
    cursor: pointer;
}