@use "../config/" as *;

#music-toggle {
    display: none;
}

.toggle-box {
    #show-player-btn {
        position: relative;

        &:hover {
            cursor: pointer;
        }

        .volume-animation {
            position: absolute;
            top: 0;
            left: 0;
            animation: pulse-volume 1.5s ease-in-out infinite;

            i {
                color: $light-tone;
            }
        }
    
        .main-volume {
            position: relative;
    
            i {
                color: $white;
            }
        }
    }    

    
}

#music-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    background-color: black;
    z-index: 9999;

    transition: transform 0.5s ease-in-out;
    
    &.show {
        transform: translateX(0);
    }
}

#hide-player-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    cursor: pointer;

    i {
        font-size: 2rem;
        transition: scale 0.33s ease-in-out, color 0.33s ease-in-out;

        &:hover {
            scale: 1.1;
            color: red;
        }
    }
}

#music-player {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    iframe {
        width: 90%;
        height: 90%;
        border: none;
    }
}