@use "../config/" as *;

nav {
    * {
        font-family: "Nunito", sans-serif;
    }
    
    @extend %gradient;
    
    img {
        width: 6rem;
        height: 3rem;
    }
}

.nav-link {
    font-size: 1.11rem;
    margin-right: 0.875rem;
}