@use "../config/" as *;

// Set $toggle true to turn on visual aide - otherwise $toggle false
$toggle: false;

* {
    border: visualAide($toggle);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: $background;
    color: $foreground;
    overflow-x: hidden;
}

h2 {
    font-size: 3rem;
    padding: 1rem 1rem 0 1rem;
    text-align: center;

    @include media-breakpoint-down(lg) {
        font-size: 2.5rem;
    }
}

// Heading line
.heading-line::before {
    content: "";
    width: 44%;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: var(--heading-line-color);
}

.heading-line::after {
    content: "";
    width: 4%;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: var(--heading-line-color);
}


// Active toggle colors
.dark-gradient {
    background: linear-gradient(to right, rgba($primary-dark, 0.95), rgba($secondary-dark, 0.95));
}

.dark-border-top {
    border-top: 7px solid $primary-dark;
}

.dark-background {
    background-color: $primary-dark;
}

.dark-body {
    background-color: $secondary-dark;
}

// Observer API effects
//==============
//HEADER EFFECTS
//==============
.move-header {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.fade-effect {
    opacity: 1;
}

//==============
//OBJECT EFFECTS
//==============
.left {
    opacity: 0;
    transform-origin: left center;
    transform: translateX(-50%);
    transition: all 0.5s ease-in-out;
}

.right {
    opacity: 0;
    transform-origin: right center;
    transform: translateX(50%);
    transition: all 0.5s ease-in-out;
}

.slide-effect {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
}

// ============================
// FOR D3 TIMELINE - PROJECT 12
// ============================
.timeline-svg .thumbnail:hover image {
  transform: scale(5);
}

.timeline-svg:hover .thumbnail:hover image {
  z-index: 1;
  opacity: 0.8;
}


