// Live radio slide-in and out
@keyframes slide-in {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@keyframes slide-out {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

// Pulse radio toggle button
@keyframes pulse-volume {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0.12;
    }
}