@use "./custom" as *;

%gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

%main-text {
    color: $dark-tone;
}

%flex-rowcen {
    display: flex;
    justify-content: center;
    align-items: center;
}

%transition {
    transition: all 0.5s ease-in-out;
}

%poppins {
    font-family: "Poppins", sans-serif;
}

@mixin main-text {
    color: $dark-tone;
}