@use "./custom" as *;

// Background gradient using primary and secondary color
%gradient {
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}

// Background gradient for dark-mode
%dark-gradient {
    background: linear-gradient(to right, rbga($dark-tone, 0.95), rgba($light-tone, 0.95));
}

// Flex center w/ direction row
%flex-rowcen {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Simple transition 
%transition {
    transition: all 0.5s ease-in-out;
}

// Absolute center
%abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
